# Perkenalan

'================================================='

Milestone 2

Nama  : Ridwan Muhammad Syahrul

Batch : RMT-029

Program ini dimaksudkan untuk mengecek model yang sudah dibuat (dalam kasus ini model yang digunakan adalah Random Forest) dengan data baru.

'================================================='

# Library Import

In [4]:
import pandas as pd
import pickle as pkl

In [5]:
# Load model
with open('best_model.pkl', 'rb') as file_1:
    model = pkl.load(file_1)

# Model Inference

In [3]:
# Data baru yang akan diprediksi menggunakan model yang sudah dibuat
mod_inf = {
      'merchant': ['fraud_Kirlin and Sons','fraud_Johnston-Casper','fraud_Sporer-Keebler'],
      'category':['travel', 'personal_care', 'health_fitness'],
      'amt':[60.4, 120, 80],
      'gender':['F','M','M'],
      'state':['FL','MI','NY'],
      'city_pop':['12049','62019','47235'],
      'job':['Set designer','Musician','Mechanical engineer'],
      'unix_time':[1388534349, 1371816865, 1388534374]
                  }
mod_inf = pd.DataFrame(mod_inf)
mod_inf

,merchant,category,amt,gender,state,city_pop,job,unix_time
0,fraud_Kirlin and Sons,travel,60.4,F,FL,12049,Set designer,1388534349
1,fraud_Johnston-Casper,personal_care,120.0,M,MI,62019,Musician,1371816865
2,fraud_Sporer-Keebler,health_fitness,80.0,M,NY,47235,Mechanical engineer,1388534374

In [6]:
# Proses prediksi
prediksi = model.predict(mod_inf)
prediksi

array([0, 0, 0], dtype=int64)